<div class="rounded-2xl overflow-hidden border border-gray-300">
  <table class="min-w-full text-black">
    <thead class="bg-gray-200">
      <tr>
        @for(col of colunas; track col.campo){
          <th class="px-4 py-2 text-left">{{col.textoCabecalho}}</th>
        }
        <th class="px-4 py-2 text-left">Editar</th>
        @if(detalhes.observers.length > 0){
          <th class="px-4 py-2 text-left">Detalhes</th>
        }
      </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    @for(row of dados; track row.id){
      <tr>
        @for(col of colunas; track col.campo){
          <td class="px-4 py-2 text-left">{{row[col.campo]}}</td>
        }
        <td class="px-4 py-2 text-left">
          <button type="button" class="p-3 bg-amber-200" (click)="onEditarClick(row)">Editar</button>
        </td>
        @if(detalhes.observers.length > 0){
          <td class="px-4 py-2 ">
            <button type="button" class="p-3 bg-blue-200" (click)="onDetalhesClick(row)">Detalhes</button>
          </td>
        }
      </tr>
    } @empty {
      <tr>
        <td [attr.colspan]="colunas.length + 1">
          Nenhum registro encontrado.
        </td>
      </tr>
    }
  </tbody>
</table>
</div>
